




<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>



		<form action="../php/updatepass.php" method="POST">
			<center>
			
			<fieldset>
				<legend>CHANGE PASSWORD</legend>
				Current Password<br>
				<input type="password" name="upassword"><br>
				New Password<br>
				<input type="password" name="cupassword"><br>
				Re-type New Password<br>
				<input type="password" name="cupasswordn"><br>
			</fieldset>
		</form>
		<br>
		
		<input type="submit" name="submit" value="Update">
			<button><u><a href="home.php">Back</u></button>

</body>
</html>